.button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #F1BB00;
  text-decoration: none;
  transition: .2s linear; }
  .button a {
    text-shadow: 0 -1px 0;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .button:hover {
    background: #1b6d85;
    transition: .2s linear;
    color: #F1BB00; }

.button-price {
  display: inline-block;
  padding: 10px 45px;
  background-color: #F1BB00;
  text-decoration: none;
  transition: .2s linear; }
  .button-price a {
    text-shadow: 0 -1px 0;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .button-price:hover {
    background: #1b6d85;
    transition: .2s linear;
    color: #F1BB00; }

.price-btn {
  display: inline-block;
  padding: 5px 5px;
  background-color: #F1BB00;
  text-decoration: none;
  transition: .2s linear; }
  .price-btn a {
    text-shadow: 0 -1px 0;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 16px; }
  .price-btn:hover {
    background: #1b6d85;
    transition: .2s linear;
    color: #F1BB00; }

.container {
  margin: 0 auto; }

.container::before,
.container::after,
.clearfix::before,
.clearfix::after {
  content: '';
  display: table; }

.container::after,
.clearfix::after {
  clear: both; }

body {
  font-family: "Roboto", sans-serif; }

.wrapper {
  overflow: hidden; }

.container {
  text-align: center; }

.m-page {
  margin: 0 auto; }

.h-page {
  opacity: 100;
  padding-top: 15px;
  border: 1px solid;
  background-color: #1d1610;
  font-family: "Roboto", sans-serif; }

header .left {
  padding-left: 80px; }

.navbar-default .navbar-nav li .dropdown-menu {
  opacity: 0.95;
  background-color: #1d1610;
  font-family: "Roboto", sans-serif; }
  .navbar-default .navbar-nav li .dropdown-menu li {
    float: left;
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
    .navbar-default .navbar-nav li .dropdown-menu li a {
      font-family: "Roboto", sans-serif;
      font-size: 9px;
      font-weight: 400;
      line-height: 14px; }

.navbar-default .navbar-nav li a {
  padding-left: 10px;
  font-size: 18px;
  line-height: 16px;
  color: #ffffff; }

.navbar-default .navbar-nav li:hover a {
  color: #dfad00; }

.navbar-default {
  border-color: transparent;
  background: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0 0; }

footer {
  height: 108px;
  background-color: #323232;
  padding-top: 30px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400; }

@media screen and (max-width: 767px) {
  .h-page {
    padding-top: 0; }
  header .left {
    padding-left: 50px; }
  header .search {
    padding-left: 55px; }
    header .search .submit {
      top: 25px; }
  main .info {
    height: 100%;
    padding-bottom: 25px; }
    main .info .text {
      padding-bottom: 0; }
      main .info .text .block1 .price {
        font-size: 20px; }
      main .info .text .block1 .after {
        line-height: 18px;
        font-weight: 400; }
      main .info .text .block2 .price {
        font-size: 20px; }
      main .info .text .block2 .after {
        line-height: 18px;
        font-weight: 300; }
    main .info .item {
      width: 400px; }
  main .catalog {
    width: 65%;
    float: left;
    text-align: left;
    padding-top: 40px;
    padding-left: 55px; }
    main .catalog .catalog-icon div {
      display: inline-block;
      margin: 10px 10px; }
      main .catalog .catalog-icon div .text {
        width: 200px;
        display: block;
        margin-right: 5px;
        margin-bottom: 10px;
        text-align: center; }
        main .catalog .catalog-icon div .text:nth-child(2n+1) {
          margin-right: 0; } }

@media screen and (min-width: 768px) {
  main .info {
    height: 100%;
    padding-bottom: 25px; }
    main .info .item {
      padding-left: 0; }
  main .catalog .catalog-icon div .text {
    width: 190px; }
    main .catalog .catalog-icon div .text:nth-child(2n+1) {
      margin-right: 0; } }
