footer {
  height: 80px;
  background-color: #323232;
  padding-top: 30px;
  font-family: $font;
  font-weight: $font-weight-h3;


  p{
    font-size: 16px;
    color: #ff4643;
  }
  span{
    text-decoration: underline;
    color: #5c59df;
  }

  #column-1 {
    width: 50%;
    float: left;

  }
  #column-2 {
    width: 50%;
    float: left;

  }
}