a[data-tooltip] {display:inline-block;position:relative;}


a[data-tooltip]:hover:after {
  border-bottom: 8px solid #fff0f4;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: 18px;
  content: "";
  height: 0;
  width: 0;
  left: 25px;
  top: 30px;
  position: absolute;
}

a[data-tooltip]:hover:before {
  background: #fff0f4;
  bottom: -16px;
  color: #ff4643;
  content: attr(data-tooltip);
  font-family: $font;
  font-size: 14px;
  font-weight: 100;
  width: 150px;
  left: 0;
  padding: 5px 5px;
  position: absolute;
  border-radius: 5px;
}